<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Agent Home</title>
    <style>
        body {
            background: linear-gradient(to right,#36d1dc,#5b86e5);
            font-family: Poppins;
            text-align: center;
            color: white;
            }
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid white;
        }
        .container {
            padding: 10px;
            margin-top: 80px;
            background-color: transparent;
            width: 100%;
            border-radius: 10px;
        }
        .item {
            width: 100px;
            padding: 10px;
            display: inline-block;
            vertical-align: middle
        }
        .navbar {
            margin-bottom: 0px;
        }
        .btn-outline-info {
            color: white;
            border: 2px solid white;
            font-weight: bold;
        }
        #npdf {
            margin-bottom: 10px;
           /* border: 2px solid white;*/
            padding: 30px;
            border-radius: 20px;
            background:  rgb(2, 132, 155);
        }

        #pdf {
            margin-bottom: 10px;
           /* border: 2px solid white;*/
            padding: 30px;
            border-radius: 20px;
            background:  rgb(2, 132, 155);
        }
        #btnstart{
            width: 60%;
            border-style: solid;
            margin: 10px;
            border-radius: 10px;
            font-weight: 500;
        }

        #lgo {
            margin-bottom: 0;
        }

        .col-md-4 {
            text-align: center;
        }

        #welcome {
            color: white;
        }

        .item {
            width: auto;
        }
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: white;
        }
        .table-danger, .table-danger>td, .table-danger>th {
            background-color: transparent;
            border: 2px solid white;
        }
        .table-info, .table-info>td, .table-info>th {
            background-color: transparent;
            border: 2px solid white;
        }
        #oghead {
        background: rgb(2, 132, 155);
        }
        #exampleModalLabel{
            color: darkslategrey;
        }
        .text-white { 
            padding: 10px;
        }
        #campModal {
            color: darkslategrey;
        }
        #statecampaign {
            margin-bottom: 10px;
           /* border: 2px solid white;*/
            padding: 20px;
            border-radius: 20px;
            background:  rgb(2, 132, 155);
        }
        h3{
            font-weight: bold;
        }
        .footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:#343a40;
            color: white;
            float:left;
            text-align: left;
            font-size: 12px;
            padding: 10px;
        }
        p{
            margin: 0;
        }
        #wcrh {
            color: darkslategrey;
        }
    </style>
</head>
<body>
    <!-- navbar start -->
    <div class="pos-f-t">
        <nav class="navbar navbar-light fixed-top bg-dark">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/agenthome" id="welcome">Welcome, <%= user.firstName %>!</a>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="text-white" href="/agenthome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/eod">EOD</a>
                </li>
                <li class="nav-item">
                  <a class="text-white" href="/agentpwreset">Reset Password</a>
                </li>
                <form action="/logout" method="POST" id="lgo">
                  <button class="btn btn-danger btn-sm"><strong>Logout</strong></button>
                </form>
            </ul>
          </div>
        </nav>
    </div>
    <!--new nav end-->


    <div class="container">
        <!-- Select sTate form -->
        <div class="row">
            <div class="col-md-4" id="statecampaign">
                <form action="/onstate" method="POST" novalidate class="validated-form">
                <h3>Please Select State</h3>
                <div class="form-group">
                    <select name="stateName" id="stateName" class="form-control" required>
                    <option value="">Select State</option>
                    <% for (let st of state) { %>
                        <option value="<%= st.stateName %>"><%= st.stateName %></option>
                    <% }%> 
                    </select>
                </div>
                <div>
                    <button class="btn btn-success" id="btnstart">START</button>
                </div>
                </form>
                <form action="/oncamp" method="POST" novalidate class="validated-form">
                    <div class="form-group">
                        <select name="CampName" id="CampName" class="form-control" required>
                            <option value="">Select Campaign</option>
                            <% for (let ca of Camp){ %>
                                <option value="<%= ca.CampName %>"><%= ca.CampName %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-success" id="btnstart">Start Campaign Work</button>
                    </div>
                </form>

                <button class="btn btn-warning" data-toggle="modal" data-target="#addCamp">Add Campaign</button>

                <!-- modal for adding Campaign to work on -->
                <div class="modal fade" id="addCamp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Campaign to Work on</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form action="/addcamps" method="POST" novalidate class="validated-form">
                                <div class="form-group">
                                    <input  name="CampName" type="text" class="form-control" placeholder="Campain Name" required></input>
                                </div>
                                <div class="form-group">
                                    <textarea name="details" class="form-control" placeholder="Please enter Campaign Details"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success">ADD</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- current state -->
                <h3>Current Status:</h3>
                <table class="table">
                    <thead id="oghead">
                        <tr class="table-danger">
                            <th scope="col">State ID</th>
                            <th scope="col">Status Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let os of ongoingState) { %>
                            <tr class="table-danger">
                                <td><%= os.stateID %></td>
                                <td><%= os.stateName %></td>
                                <td class="ongtime"><%= os.startDate %></td>
                                <td class="runtime"></td>
                                <td><button class="btn btn-danger" data-toggle="modal" data-target="#<%= os.stateU %><%= os.stateID %>">END</button></td>
                            </tr>
                            <!-- modal for currect status -->
                            <div class="modal fade" id="<%= os.stateU %><%= os.stateID %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel"><%= os.stateName %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/agentstateput?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <textarea name="comments" placeholder="Comments for <%= os.stateName %>" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input name="stateID" class="form-control" value="<%= os.stateID %>" hidden></input>
                                            </div>
                                            <div>
                                                <button class="btn btn-danger">END</button>
                                            </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        <% } %>
                    </tbody>
                </table>

                <!-- ongoing Campaign work -->
                <h3>Campaign Work:</h3>
                <table class="table">
                    <thead id="oghead">
                        <tr class="table-danger">
                            <th scope="col">Work ID</th>
                            <th scope="col">Campaign Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let oc of onCamp){ %>
                            <tr class="table-danger">
                                <td><%= oc.workID %></td>
                                <td><%= oc.CampName %></td>
                                <td class="campstart"><%= oc.startDate %></td>
                                <td class="camptime"></td>
                                <td><button class="btn btn-warning" data-toggle="modal" data-target="#<%= oc.userName %><%= oc.workID %>">END</button></td>
                            </tr>
                            <!-- modal for ongoing campaign work -->
                            <div class="modal fade" id="<%= oc.userName %><%= oc.workID %>" tabindex="-1" role="dialog" aria-labelledby="campModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="campModal">Ending work for <%= oc.CampName %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/oncamp?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <input name="leadsProspected" class="form-control" placeholder="Leads Prospected" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="goodLeads" class="form-control" placeholder="Good Leads" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="website" class="form-control" placeholder="Website" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="email" class="form-control" placeholder="Email" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="linkedin" class="form-control" placeholder="Linkedin" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="fb" class="form-control" placeholder="FB" required></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="Skype" class="form-control" placeholder="Skype" required></input>
                                            </div>
                                            <div class="form-group">
                                                <textarea name="comments" placeholder="Comments for <%= oc.CampName %>" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input name="workID" class="form-control" value="<%= oc.workID %>" hidden></input>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning">DONE</button>
                                            </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- modal end -->
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- States History -->
            <div class="col-md-6">
                <h5>Status History</h5>
                <table class="table">
                    <thead id="oghead">
                        <tr class="table-info">
                            <th scope="col">StateID</th>
                            <th scope="col">State Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let sh of statehis) { %>
                            <tr class="table-info">
                                <td><%= sh.stateID %></td>
                                <td><%= sh.stateName %></td>
                                <td><%= sh.startDate %></td>
                                <td><%= sh.endDate %></td>
                                <td><%= sh.durationTime %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Campaign History</h5>
                <table class="table">
                    <thead id="oghead">
                        <tr class="table-info">
                            <th scope="col">WorkID</th>
                            <th scope="col">Campaign Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Report</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let wc of wasCamp) { %>
                            <tr class="table-info">
                                <td><%= wc.workID %></td>
                                <td><%= wc.CampName %></td>
                                <td><%= wc.startDate %></td>
                                <td><%= wc.endDate %></td>
                                <td><%= wc.durationTime %></td>
                                <td><button class="btn btn-info" data-toggle="modal" data-target="#<%= wc.userName %><%= wc.workID %>">Details</button></td>
                            </tr>

                            <!-- modal for campaign history -->
                            <div class="modal fade" id="<%= wc.userName %><%= wc.workID %>" tabindex="-1" role="dialog" aria-labelledby="campModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="campModal"><%= wc.CampName %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <h5 id="wcrh"><%= wc.Report %></h5>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <br>
            <!--Footer Start-->
            <div class="footer" style="margin-bottom:0">
                <p>Signalyzer v2.0™ | Created by Rupert Tianzon & Ralph Lawrence Villamor</p>
            </div>
            <!--Footer End-->
    
    <script>

        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        // ongoing state timer
        function convertTZ(date, tzString) {
            return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
        }

        let stime = document.querySelectorAll('.ongtime');
        let runtime = document.querySelectorAll('.runtime');
        setInterval(function() {
            for (i=0; i<stime.length; i++) {
            let actime = stime[i].innerHTML
            let start = new Date(actime).getTime()
            let now = convertTZ(new Date(), "America/New_York")
            let distance = now - start;
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            runtime[i].innerHTML=hours + "h " + minutes + "m " + seconds + "s"
            }
        }, 1000)

        let ctime = document.querySelectorAll('.campstart');
        let cruntime = document.querySelectorAll('.camptime');
        setInterval(function() {
            for (i=0; i<ctime.length; i++) {
            let actime = ctime[i].innerHTML
            let start = new Date(actime).getTime()
            let now = convertTZ(new Date(), "America/New_York")
            let distance = now - start;
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            cruntime[i].innerHTML=hours + "h " + minutes + "m " + seconds + "s"
            }
        }, 1000)
    </script>
</body>
</html>